* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: #D9D9D9;
    background-position: center;
    background-size: cover;
    padding: 10px 15px;
    height: 57px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    text-align: right;
}

.btn {
    list-style: none;
    display: flex;
    align-items: right;
    margin-left: 900px;
}

.btn li {
    margin-left: 20px;
}

.btn li:first-child {
    margin-left: 0;
}

.btn a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: #E4C1C1;
    border-radius: 5px;
}

.btn a:hover {
    background-color: #BF9797;
}

.bx-menu{
    color: white;
}
