* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*------Outfit Creator------*/


    /*-nav/header-*/
.header {
    background-color: #D9D9D9;
    background-position: center;
    background-size: cover;
    padding: 10px 15px;
    height: 57px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bx-menu {
    cursor: pointer;
    color: black;
    padding: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 190px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 100;
}

.nav.open .sidebar{
    left: 0;
}

.sidebar-content {
    padding: 30px 16px;
    z-index: 100;
}

.sidebar-content .list{
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
    z-index: 1;
}

.lists .nav-link:hover {
  background-color: #F6F3F3;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay {
  opacity: 1;
  left: 190px;
  pointer-events: auto;
}

.wrapper-container {
    display: flex;
    align-items: center;
    margin-left: 450px; 
    background: transparent;
}

.wrapper {
    width: 100%; 
    padding: 10px;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    padding-left: 15px;
    background-color: transparent;
}

.input-data input::placeholder {
    color: gray;
    opacity: 1;
    text-indent: 5px;
}

.input-data input:focus::placeholder {
    opacity: 0;
}

.input-data input:not(:placeholder-shown) + label {
    opacity: 0;
    pointer-events: none;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 0;
    left: 0;
    color: gray;
    pointer-events: none;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    transition: all 0.3s ease;
}

.input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: pink;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
    transform: scaleX(1);
}


.btn {
    text-decoration: none;
    margin-left: auto;
    color: white;
    padding: 5px 10px;
    background-color: #E4C1C1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #BF9797;
}


    /*-Details/Display-*/

.img-container {
    position: absolute;
    display: flex;
    align-items: center;
}

.top-container, .bottom-container, .outerwear-container, .shoes-container, .bags-container, .accessories-container {
    position: absolute;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
    padding: 0;
}

.top-container{
    height: 138px;
    width: 160px;
    margin-left: 630px;
    margin-top: 180px;
}

.bottom-container{
    height: 190px;
    width: 160px;
    margin-left: 630px;
    margin-top: 520px;
}

.shoes-container{
    height: 90px;
    width: 160px;
    margin-left: 630px;
    margin-top: 812px;
}

.outerwear-container{
    height: 158px;
    width: 160px;
    margin-left: 820px;
    margin-top: 300px;
}

.accessories-container{
    height: 80px;
    width: 160px;
    margin-left: 820px;
    margin-top: 600px;
}

.bags-container{
    height: 120px;
    width: 160px;
    margin-left: 440px;
    margin-top: 500px;
}


/*-Footer-*/

.footer {
    background-color: #F6F3F3;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
    padding: 20px 15px;
    height: 320px; 
    width: 100%;
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: space-between;
    overflow-y: scroll;
    flex-direction: column;
}

.accordion-row {
    max-width: 320px;
    overflow: visible;
    font-weight: 300;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background:transparent;
}

.footer .accordion-row label {
    font-size: 18px;
    line-height: 1;
    position: relative;
    font-weight: 300;
    background: transparent;
    color: black;
    display: block;
    top: -10px;
    cursor: pointer;
    padding: 10px 30px;
    z-index: 1;
}

.accordion-row label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 1;
}

.accordion-content {
    max-width: 320px;
    overflow: visible;
    font-weight: 300;
    position: relative;
    margin-top: 100px;
    background: transparent;
    flex-direction: row;
}

.accordion-row .hidden {
    display: none;
}

.accordion-row label:focus-within + .accordion-content .hidden,
.accordion-row label:hover + .accordion-content .hidden {
    display: flex;
}

.accordion-box {
    position: absolute;
    display: flex;
    width: 1350px;
    height: 106px;
    background-color: #EBDDDD;
    top: -110px;
    left: 25px;
    padding: 10px 25px;
    border-radius: 10px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.accordion-row:focus-within .accordion-box{
    opacity: 1;
    pointer-events: auto;
}

.sb, .sb-1 {
    width: 93px; 
    height: 86px; 
    background-color: #F6F3F3;
    margin-right: 120px;
    border-radius: 10px;
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    display: flex;
}

.sb img, .sb-1 img{
    position: absolute;
    max-width: 85px; 
    max-height: 80px; 
    border-radius: 8px; 
    margin-left: 10px;
}


/*------Outfit Gallery------*/

.Gallery h2 {
    display: flex;
    align-items: center;
    margin-right: 630px;
}

.cards {
    display: flex;
    margin-top: 25px;
    margin-left: 80px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex-basis: 300px;
    background-color: #E4C1C1;
    padding: 3px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.5s ease;
}

.card:hover {
    border: 2px solid #000;
}

.card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card_body {
    padding: 15px 20px 20px;
}

.card_title {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.cards .card .card_body .mode .toggle-switch{
    display: flex;
    height: 30px;
    width: 55px;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 20px;
    width: 45px;
    border-radius: 25px;
    background-color: #707070;
    transition: all 0.3s ease;
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: white;
    transition: all 0.3s ease;
}

.toggle-switch.active .switch::before {
    left: 25px;
}

.bx-trash {
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    color: #000;
}