style.css 

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*--------------- CLOTHESUPLOAD -------------------*/

#clothesupload {
    font-family: "Poppins", sans-serif;
    margin-top: 70px;
    margin-left: 15px;
}

form {
    margin-left: 15px;
    
}

input[type="file"] {
    background-color: #F8EDEB; 
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer; 
}



form input[type="submit"] {
    background-color: #F8EDEB; 
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer; 
}


/*--------------- IMAGEWINDOW -------------------*/

#imagewindow {
    font-family: "Poppins", sans-serif;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 40px;
}   

#imgupload {
    margin-left: 30px;
    margin-top: 10PX;
    margin-bottom: 20px;
}

#categorytxt {
    margin-left: 30px;
    margin-top: 10PX; 
    font-size: 30px; 
}

#choosecat {
    margin-left: 30px;
}

#linkimg {
    margin-left: 30px;
    margin-top: 20PX;
    font-size: 30px; 
}

#addlink {
    margin-left: 30px; 
}

#gobackbttn {
    margin-left: 40px;
    margin-top: 40PX;
    margin-bottom: 20px;
}

#submitbttn {
    margin-left: 5px;
    margin-top: 40PX;
    margin-bottom: 20px;
}



/*--------------- CATEGORYTAB -------------------*/


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

