<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Community Page</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <div class="container">
            <h2 class="log">
                RevêLuxe
            </h2>
            <div class="search-bar">
                <i class='bx bx-search'></i>
                <input type="search" placeholder="Search for creators, inspirations and projects">
            </div>
            <div class="create">
                <label class="btn btn-primary" for="create-post">Create</label>
                <div class="profile-photo">
                    <img src="static/pic.jpg">
                </div>
            </div>
        </div>
    </nav>

    <!-------------------MAIN--------------------------->

    <main>
        <div class="container">
            <!---------------LEFT---------------->
            <div class="left">
                <a class="profile">
                    <div class="profile-photo">
                        <img src="static/pic.jpg">
                    </div>
                    <div class="handle">
                        <h4>Intan Syuha</h4>
                        <p class="text muted">
                            @intansyuha
                        </p>
                    </div>
                </a>

                <!--------------SIDEBAR--------------->
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class='bx bx-home'></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bx-globe'></i></span><h3>Explore</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bxs-hot'></i></span><h3>Trending</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bx-bell'></i></i></span><h3>Notifications</h3>
                        <!---------------------------NOTIFS POPUP--------------------------------->
                        <div class="noti-popup">
                            <div>
                                <div class="profile-photo">
                                    <img src="static/pic2.jpg">
                                </div>
                                <div class="noti-body">
                                    <b>Aleeya Zahra</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bx-message-detail'></i></span><h3>Message</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bx-bookmark'></i></span><h3>Bookmark</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bx-line-chart'></i></span><h3>Analytics</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class='bx bx-cog'></i></span><h3>Settings</h3>
                    </a>
                </div>

            </div>
            <!-------------MIDDLE------------------->
            <div class="middle">

            </div>
            <!---------------RIGHT----------------->
            <div class="right">

            </div>
        </div>
    </main>

</body>
</html>
