<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Document</title>   
</head>
<body>
    <h1 id="imagewindow">Image Window</h1>  
        {% if file_url %}
            <div>
                <img src="{{file_url}}" alt="Uploaded Image" style="width: 400px;" id="imgupload">                
            </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            <h2 id="categorytxt">Category</h2>
            <label for="category" id="choosecat"> Select your category</label>
            <select id="category" name="category">
                <option value="category"> ...</option>
                <option value="Tops"> Tops</option>
                <option value="Bottoms"> Bottoms</option>
                <option value="Shoes"> Shoes</option>
                <option value="Accessories"> Accessories</option>
                <option value="Bags"> Bags</option>
                <option value="Outerwear"> Outerwear</option>
            </select>

            <h2 id="linkimg">Link (URL)</h2>
                <label for="Add link" id="addlink"> Add Link</label>
                <input type="url" name="Add Link" placeholder=" Add link URL here..."> 

                
                <form method="POST" enctype="multipart/form-data" action="/wardrobecategory.html">
                    <div class="buttoncontainer">
                        <ul class="button">
                            <li>
                                <button type="submit" class="submitbttn">Submit</button>
                            </li>
                        </ul>
                    </div>
                </form>        
        </form>
            

</body>
</html>

