<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>


    <h1 id="clothesupload">Clothes Upload</h1>

    <form method='POST' enctype="multipart/form-data">
        {{form.hidden_tag()}}
        
        {{form.file()}}
        
        {{form.submit()}}

    </form>
    </body>
</html>