<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Outfit Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <section class="header">
            <div class="menu">
                <i class='bx bx-menu bx-md menu-icon'></i>
            </div>
            <div class="sidebar">
                <div class="menu">
                    <i class='bx bx-menu bx-md menu-icon'></i>
                </div>
                <div class="sidebar-content">
                    <ul class="lists">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class='bx bx-home-heart icon'></i>
                                <span class="link">Home</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class='bx bxs-hot icon'></i>
                                <span class="link">Trending</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class='bx bx-closet icon'></i>
                                <span class="link">Wardrobe</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class='bx bx-edit icon'></i>
                                <span class="link">Outfit Creator</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class='bx bx-star icon'></i>
                                <span class="link">Outfit Gallery</span>
                            </a>
                            <a href="#" class="nav-link">
                                <i class='bx bx-cog icon'></i>
                                <span class="link">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Gallery">
                <h2>Outfit Gallery</h2>
            </div>
        </section>
    </nav>

    <div class="cards" id="cardsContainer">
        {% for outfit in outfits %}
        <a href="#" class="card">
            <img src="{{ url_for('static', filename='images/tops/' + outfit.top_image) }}" alt="Outfit Image" />
            <div class="card_body">
                <h6 class="card_title">{{ outfit.outfit_name }}</h6>
                <p>Top: {{ outfit.top_color }}, Bottom: {{ outfit.bottom_color }}, Outer: {{ outfit.outer_color }}, Shoes: {{ outfit.shoe_color }}, Accessories: {{ outfit.acc_color }}</p>
                <div class="mode">
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </div>
                <div class="delete">
                    <i class='bx bx-trash bx-sm'></i>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <a href="/">Create a new outfit</a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
