<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Outfit Detail</title>
</head>
<body>
    <nav>
        <section class="header">
            <div class="menu">
                <i class='bx bx-menu bx-md menu-icon'></i>
            </div>
            <div class="side-bar">
                <div class="menu">
                    <i class='bx bx-menu bx-md menu-icon'></i>
                </div>
                <div class="side-bar-content">
                    <ul class="lists">
                        <li class="list">
                            <a href="{{ url_for('community_page', username=username) }}" class="nav-link">
                                <i class='bx bx-home-heart icon'></i>
                                <span class="link">Home</span>
                            </a>
                            <a href="{{ url_for('wardrobecategory', username=username) }}" class="nav-link">
                                <i class='bx bx-store icon'></i>
                                <span class="link">Wardrobe</span>
                            </a>
                            <a href="{{ url_for('index', username=username) }}" class="nav-link">
                                <i class='bx bx-closet icon'></i>
                                <span class="link">Clothes Upload</span>
                            </a>
                            <a href="{{ url_for('outfit_creator', username=username) }}" class="nav-link">
                                <i class='bx bx-edit icon'></i>
                                <span class="link">Outfit Creator</span>
                            </a>
                            <a href="{{ url_for('outfit_gallery', username=username) }}" class="nav-link">
                                <i class='bx bx-star icon'></i>
                                <span class="link">Outfit Gallery</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="imagegall">
                <h2>Outfit Detail</h2>
            </div>
        </section>
    </nav>

    <main>
        <section class="details">
            <div class="img-container">
                <div class="top-container" id="topContainer">
                    <img src="{{ outfit.top }}" alt="Top">
                </div>
                <div class="bottom-container">
                    <img src="{{ outfit.bottom }}" alt="Bottom">
                </div>
                <div class="outerwear-container">
                    <img src="{{ outfit.outerwear }}" alt="Outerwear">
                </div>
                <div class="shoes-container">
                    <img src="{{ outfit.shoes }}" alt="Shoes">
                </div>
                <div class="bags-container">
                    <img src="{{ outfit.bags }}" alt="Bags">
                </div>
                <div class="accessories-container">
                    <img src="{{ outfit.accessories }}" alt="Accessories">
                </div>
            </div>
        </section>
    </main>
</body>

<script>

document.addEventListener('DOMContentLoaded', () => {
    // Sidebar outfitcreator, outfitgallery, index, imgwindow functionality
    const menuIcon = document.querySelectorAll('.menu-icon');
    const sidebar = document.querySelector('.side-bar');
    const overlaySidebar = document.querySelector('#overlay');

    const navBar = document.querySelector("nav");
    const menuBtns = document.querySelectorAll(".menu-icon");
    const overlay = document.querySelector(".overlay");

    menuBtns.forEach(menuBtn => {
        menuBtn.addEventListener("click", () => {
            navBar.classList.toggle("nav");
            navBar.classList.toggle("open");
        });
    });

    overlay.addEventListener("click", () => {
        navBar.classList.remove("nav");
        navBar.classList.remove("open");
    });

    
    menuIcon.forEach(icon => {
        icon.addEventListener('click', function () {
            sidebar.classList.toggle('open');
            overlaySidebar.classList.toggle('open');
        });
    });

    overlaySidebar.addEventListener('click', function () {
        sidebar.classList.remove('open');
        overlaySidebar.classList.remove('open');
    });
});

</script>

</html>