<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" defer></script>
    <link href="style.css" rel="stylesheet">
    <title>My Wardrobe</title>
</head>
<body>
    <ul class="tabs">
        <li data-tab-target="#tops" class="tab"> Tops</li>
        <li data-tab-target="#bottoms" class="tab"> Bottoms</li>
        <li data-tab-target="#shoes" class="tab"> Shoes</li>
        <li data-tab-target="#accessories" class="tab"> Acessories</li>
        <li data-tab-target="#bags" class="tab"> Bags</li>
        <li data-tab-target="#outerwear" class="tab"> Outerwear</li>
    </ul>

    <div class="tab-content">
        <div id="tops" data-tab-content>
            <h1>Tops section</h1>
        </div>
        <div id="bottoms" data-tab-content>
            <h1>Bottoms section</h1>
        </div>
        <div id="shoes" data-tab-content>
            <h1>Shoes section</h1>
        </div>
        <div id="accessories" data-tab-content>
            <h1>Accessories section</h1>
        </div>
        <div id="bags" data-tab-content>
            <h1>Bags section</h1>
        </div>
        <div id="outerwear" data-tab-content>
            <h1>Outerwear section</h1>
        </div>
    </div>

</body>
</html>